* {
  border-radius: 0!important;
}

form.form-inline.well {
  padding: 10px 10px 5px;
}

form.form-inline.well .form-control {
  margin-left: 10px;
  margin-right: 10px;
}

main.container-fluid {
  padding: 0;
}
